<?xml version="1.0" ?>

<configuration>

	<section name="quartz"
	         type="System.Configuration.NameValueSectionHandler, System" />

	<quartz>
		<add key="quartz.scheduler.instanceName"
		     value="WebPlex.Core.Jobs.IScheduler" />
		<add key="quartz.threadPool.type"
		     value="Quartz.Simpl.SimpleThreadPool, Quartz" />
		<add key="quartz.threadPool.threadCount"
		     value="5" />
		<add key="quartz.threadPool.threadPriority"
		     value="Normal" />
		<add key="quartz.jobStore.type"
		     value="Quartz.Simpl.RAMJobStore, Quartz" />
		<add key="quartz.plugin.xml.type"
		     value="Quartz.Plugin.Xml.JobInitializationPlugin, Quartz" />
	</quartz>

</configuration>