@{
	Title.Add(Views.Title_About);
	Breadcrumb.Items(items => items.Add.Text(Views.Title_About).Result(T4Routes.Home.About()));
}

<h3 class="muted">@Views.Title_About</h3>
<div class="row">
	<div class="span12">
		<h4>تولید خودکار Checksum پس از تغییر محتویات اندیس گذاری شده...</h4>
		<p>
			در این پست می خوام ساده ترین روشی که برای تولید خودکار Checksum بعد از تغییر در محتویاتی
			که اندیس گذاری شده اند رو واستون شرح بدم. پس با من همراه باشید...
		</p>
		<p class="muted text-left">
			محمدصادق شاد
		</p>
	</div>
</div>